{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
    <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ url('library_author_list') }}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by name" name ="search">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
          </span>
        </div>
    </form>
    </div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Authors</th>
            <th></th>
        </tr>
        </thead>
        {% for author in authors %}
        <tr>
            <td>{{ author.fullname }}</td>
            <td><a class="btn btn-primary" href="{{ url('library_author_details',{'id':author.id}) }}" role="button">Details</a>
                <a class="btn btn-info" href="{{ url('library_author_edit',{'id':author.id}) }}" role="button">Update</a>
                <a class="btn btn-warning" onclick="deleteAuthor('{{ url('library_author_delete', {'id':author.id}) }}')" href="#" role="button">Remove</a></td>
        </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}