{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    {{ form_start(form) }}
    <div>
        <div class="form-group">
            {{ form_label(form.fullname) }}
            {{ form_widget(form.fullname) }}
        </div>
        {% if form_errors(form) is not empty %}
            <div class="alert alert-warning">
                <strong>Warning!</strong>{{ form_errors(form) }}
            </div>
        {% endif %}
    </div>
    <input type="submit" value="Update"
           class="btn btn-default pull-right" />
    {{ form_end(form) }}
</div>
{% endblock %}