{% extends 'base.html.twig' %}
{%  block body %}
<div class="jumbotron">
    <h1 style="text-align:center">{{ author.fullName }}</h1>

    <div class="container">
        <a class="btn btn-info" href="{{ url('library_author_edit',{'id':author.id}) }}" role="button">Update</a>
        <a class="btn btn-warning" onclick="deleteAuthor('{{ url('library_author_delete',{'id':author.id}) }}')" href="#" role="button">Remove</a></td>
    </div>
    <div class="container">
        <p> Books:</p>
        {%  for book in books %}
            {% for authors in book.bookAuthors %}
                {% if authors.id == author.id %}
                    <a class="btn btn-secondary" href="{{ url('library_book_details',{'id':book.id}) }}" role="button">{{ book.title }}</a>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

</div>
{% endblock body %}