{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <form class="pull-right hidden" role="search" id="nav-search-form" method="post" action="{{ url('library_book_list') }}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by isbn number or author name" name ="search">
                <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
          </span>
            </div>
        </form>
    </div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Book Title</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.price }} €</td>
            <td><a class="btn btn-primary" href="{{ url('library_book_details',{'id':book.id}) }}" role="button">Details</a>
                &nbsp
                <a class="btn btn-info" href="{{ url('library_book_edit',{'id':book.id}) }}" role="button">Update</a>
                &nbsp
                <a id="kapow" onclick="deleteBook('{{ url('library_book_delete',{'id':book.id}) }}')" class="btn btn-warning" href="#" role="button">Remove</a></td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}