{% extends 'base.html.twig' %}
{%  block body %}
<div class="jumbotron">
    <h1 style="text-align:center">{{ book.title }}</h1>
    <p>ISBN13: {{ book.isbn }}</p>
    <p>Category: {{ book.category }}</p>
    <p> Price: {{ book.price }} €</p>
    <div class="container">
        <a class="btn btn-info" href="{{ url('library_book_edit',{'id':book.id}) }}" role="button">Update</a>
        <a id="kapow" onclick="deleteBook('{{ url('library_book_delete',{'id':book.id}) }}')" class="btn btn-warning" href="#" role="button">Remove</a>
    </div>
    <div class="container">
        <p> Authors:</p>
        {%  for author in book.bookAuthors %}
            <a class="btn btn-secondary" href="{{ url('library_author_details', {'id':author.id}) }}" role="button">{{ author.fullName }}</a>
        {% endfor %}
    </div>


</div>
{% endblock body %}