{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
        {{ form_start(form) }}
        {% for field in form %}
        <div class="form-group">
            {{ form_row(field) }}
        </div>
    {% endfor %}

    <input type="submit" value="Update"
           class="btn btn-default pull-right" />

    {{ form_end(form) }}

</div>

{% endblock %}