<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>

<body>
<script>
    function deleteBook(path) {
        const ask = window.confirm("Are you sure you want to delete this book?");
        if (ask) {
            alert("book is being deleted");
            window.location.replace(path)
        }
    }
    function deleteAuthor(path) {
        const ask = window.confirm("Are you sure you want to delete this author?");
        if (ask) {
            alert("author is being deleted");
            window.location.replace(path)
        }

    }

</script>

<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-static-top navbar-collapse">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="nav navbar-nav navbar-right">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Library site</a>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('library_list') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('library_book_create') }}">Create new book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('library_author_create') }}">Create new author</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('library_book_list') }}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url('library_author_list') }}">Authors</a>

            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <div class ="row">
        {% block body %}{% endblock %}
    </div>


</main><!-- /.container -->

<!-- Bootstrap core JavaScript
     {% block javascripts %}{% endblock %}
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>
